<div>
  <ul
      id="sub-nav"
      >
    <li><a
        class="subButton bCancel"
        ng-click="createEmployeeCtrl.browseToOverview()">Cancel</a>
    </li>
  </ul>
  <form
      name="employeeForm"
      ng-submit="createEmployeeCtrl.submit(employeeForm.$valid)"
      >
    <fieldset>
      <legend>
        Add
      </legend>
      <label>
        <span
            ng-class="{'error': employeeForm.firstName.$touched && employeeForm.firstName.$invalid}">
          First name
        </span>
        <input
            type="text"
            name="firstName"
            ng-model="createEmployeeCtrl.selectedEmployee.firstName"
            required
            autofocus
            />
      </label>
      <label>
        <span
            ng-class="{'error': employeeForm.lastName.$touched && employeeForm.lastName.$invalid}">
          Last name
        </span>
        <input
            type="text"
            name="lastName"
            ng-model="createEmployeeCtrl.selectedEmployee.lastName"
            required
            />

      </label>

      <div class="error-message"
          >
        <div ng-if="employeeForm.$submitted || employeeForm.date.$touched"
             ng-messages="employeeForm.date.$error">
          <div ng-message="dateFormat">Please enter a date formatting YYYY-MM-DD!</div>
        </div>
      </div>

      <label>
        <span
            ng-class="{'error': employeeForm.date.$touched && employeeForm.date.$invalid}">
          Start date
        </span>
        <input
            type="text"
            name="date"
            ng-model="createEmployeeCtrl.selectedEmployee.startDate"
            date-format-validator
            required
            />
      </label>

      <div class="error-message">
        <div ng-if="employeeForm.$submitted || employeeForm.email.$touched"
             ng-messages="employeeForm.email.$error">
          <div ng-message="emailFormat">Please enter a valid email address!</div>
        </div>
      </div>

      <label>
        <span
            ng-class="{'error': employeeForm.email.$touched && employeeForm.email.$invalid}">
          Email
        </span>
        <input
            type="email"
            name="email"
            email-format-validator
            ng-model="createEmployeeCtrl.selectedEmployee.email"
            required
            />
      </label>

      <div class="formFooter">
        <button
            type="submit"
            class="main-button"
            >
          Update
        </button>
      </div>

    </fieldset>
  </form>
</div>