<div>

  <ul id="sub-nav">
    <li>
      <a
          id="bAdd"
          class="subButton"
          ng-click="employeesCtrl.createEmployee()"
          >
        Create
      </a>
    </li>
    <li>
      <a
          id="bEdit"
          class="subButton"
          ng-class="!employeesCtrl.selectedEmployee && 'disabled'"
          ng-click="employeesCtrl.editEmployee()"
          >
        Edit
      </a>
    </li>
    <li>
      <a
          id="bDelete"
          class="subButton"
          ng-class="!employeesCtrl.selectedEmployee && 'disabled'"
          ng-click="employeesCtrl.deleteEmployee()"
          >
        Delete
      </a>
    </li>
  </ul>

  <div id="employee-list-container">
    <ul id="employee-list">
      <li ng-repeat="employee in employeesCtrl.employees"
          ng-click="employeesCtrl.selectEmployee(employee)"
          ng-class="employee.id == employeesCtrl.selectedEmployee.id && 'active'">
        {{employee.firstName}} {{employee.lastName}}
      </li>
    </ul>
  </div>
</div>

