<form id="login-form" ng-submit="login()" name="loginForm">
  <fieldset>
    <legend>Login</legend>
    <p class="error-message" ng-show="showMessage(message)">{{message}}</p>
    <label>
      <span>Username*</span>
      <input
        type="text"
        ng-model="user.name"
        required
        autofocus
        />
      <span class="error" ng-show="myForm.list.$error.REQUIRED">Required!</span>
    </label>
    <label>
      <span>Password*</span>
      <input
        type="password"
        ng-model="user.password"
        required
        />
    </label>

    <button type="submit" class="main-button" ng-disabled="{{loginForm.$invalid}}">Login</button>
    <p class="info">Username: "Luke" Password: "Skywalker"</p>

  </fieldset>
</form>
