<!doctype html>
<html lang="en" ng-app="cafeTownsend">
<head>
  <title>CafeTownsend-AngularJS-Rails</title>
  <base href="/login">
  <%= include_jquery(defer: true) %>
  <%= javascript_include_tag('application', defer: true) -%>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>

</head>

<body>

<div class="main-view"
   ng-controller="MainController as mainCtrl"
   ng-class="{login:'main-view-loggedIn',
    employees:'main-view-employees',
    edit:'main-view-edit',
    create:'main-view-create'}[mainCtrl.viewState.current]">

  <header ng-controller="HeaderController as headerCtrl">
    <div
      ng-class="{'hide-header':!headerCtrl.authorized()}"
      class="header-container"
      ng-cloak
    >
      <p class="main-button" ng-click="headerCtrl.logout()">Logout</p>
      <p id="greetings">Hello {{headerCtrl.user.name}}</p>
    </div>
  </header>

  <div class="main-view-wrapper"
     ng-class="{login:'main-view-wrapper-loggedIn',
      employees:'main-view-wrapper-employees',
      edit:'main-view-wrapper-edit',
      create:'main-view-wrapper-create'}[mainCtrl.viewState.current]">
    <div ng-view
      class="main-view-container"
      ></div>
  </div>

  <footer>
    <p>
      Built with <a href="http://angularjs.org/">AngularJS</a>,
      <a href="http://coffeescript.org/">CoffeeScript</a>,
      <a href="http://bourbon.io/">Bourbon</a> and <a href="http://rubyonrails.org/">Rails</a>.<br/>
    </p>

    <p>
      <a href="https://github.com/sectore/CafeTownsend-Angular-Rails">Get source code</a> by
      <a href="http://www.websector.de">Jens Krause</a> @2012-2015
    </p>
  </footer>
</div>
</body>
</html>